@media screen and (max-width: 760px) {

    .header{
        font-size: 0.8rem;
        height: 40px;
        display: flex;
        justify-content: space-between;
        padding:20px;
        
    }
    
    
    .btn-menu{
        display: block;
        font-size: 1.5rem;
        padding-right: 10px;
    }
    
    .btn-menu:hover{
        color:#31a7f1;
    }
    .header > .end{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 0;
        left: 0;
        background:#2f3640;
        height: 100%;
        padding: 50px 30px;
        opacity: 1;
        z-index: 2;
        transform: translateX(-400px);
        transition: transform .4s ease-in-out;
    }
    .header > .end.show{
        transform: translate(-20px);
        transition: transform .5s ease-in-out;
    }
    .header>.end>a{
        color: white;
        padding: 10px;
        text-align: left;
    }
    .search{
        font-size: 1rem;
    }
    
    .searchButton{
        font-size: 1rem;
    }

    .container{
        display: flex;
        flex-direction: column;

    }
    
    #cards-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 60%;
    
    }

    .card-pokemon>p{
        margin-bottom: 10px;
        font-size: 1.5rem;
    }

    .card-pokemon>h2{
        margin-bottom:10px;
        font-size: 1.5rem;
        text-transform: capitalize;
    }
    
    .card-pokemon-back {
        margin-top:20% ;
    }
    
    .container>.big{
        display: none;
    }
    
    .button-box-small{
        display: block;
    }

    .button-box-small{
        width: 50%;
        display: flex;
        justify-content: space-between;
    }
    .button-box-small>button{
        font-size: 1.5rem;
        font-weight: bold;
    }

    /*Search style*/
    #cards-container.search{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 15vh;
        width: 90%;
    }

    .card-search { 
        height: 250px;
        width: 100%;
    }
    .searchButton{
        width: 100%;
    }

}

@media screen and (max-width: 390px){
    #cards-container{
        justify-content: center;
        flex-direction: column;
        width: 90%;
    
    }
    .flip-card{
        width: 100%;
    }

    .card-pokemon>img{
        width: 100px;
    }
    .card-pokemon>p{
        margin-bottom: 10px;
        font-size: 1rem;
    }

    .card-pokemon>h2{
        margin-bottom:10px;
        font-size: 1rem;
    }
    .card-pokemon-back {
        margin-top:22% ;
    }
    .stat-container>p{
        font-size: 0.9rem;
      }
    
    

    

}