/*
rojo 
verde #55ab62
azul #31a7f1
gris */

*{
    font-family: system-ui, sans-serif;
    margin: 0;
    padding: 0;

}

body{
    
    background-color: #ce1131;
    width: 100vw;
    height: 100vh;
}

.container{
    font-family: system-ui, sans-serif;
    width: 95%;
}
.header{
    display: flex;
    justify-content:space-between;
    padding: 10px;
    align-items: center;
    background-color: white ;
    font-size: 1.4rem;
    height: 50px;
}

/*Button MENU*/
.btn-menu{
    display:none;
}
.header > .brand{
    display: flex;
    align-items: center;
}

.header>.brand>h1{
    font-size: 1.5rem;
    padding-right: 10px;
    margin: 0;
    font-weight: bold;
}

.header > .brand> img{
    width: 35px;
}
.header > .end{
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
    
}

.header > .end > a{
    text-decoration: none;
    font-weight: bold;
    padding: 0 10px 0 10px;
    color: black;
    
}

.header > .end > a:hover{
    color:#31a7f1;
    
}

.searchButton{
    font-size: 1rem;
}

.searchButton>a{
    color: white;
    text-decoration: none;
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.previus-button, .next-button{
    font-size: 1.3rem;
    font-weight: bold;
    width: 3rem;
}
/*cards*/
#cards-container{
    display: grid;
    grid-template-columns:  290px 290px 290px;
    grid-template-rows: 200px 200px 200px;
    column-gap: 20px;
    row-gap: 5px;
    margin-top: 10px;
    justify-content: center;

}

.card-pokemon{
    width: auto;
    transition: transform 0.8s;
    transform-style: preserve-3d;

}


.block.wrapper>*{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.card-pokemon>img{
    width: 120px;   
}
.card-pokemon>p{
    margin: 0;
}
.card-pokemon>h2{
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: bold;
    margin: 0;
}

/*flip-card*/
.flip-card:hover .card-pokemon {
    transform: rotateY(180deg);
  }

.card-pokemon,.card-pokemon-back {
    backface-visibility: hidden;
  }

.card-pokemon-back {
    margin-top:15% ;
    transform: rotateY(180deg);
    position: absolute;
    top: 0%;
  }

  .stat-container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    text-align: left;
  }

  .stat-container>p{
    font-size: 1.1rem;
    margin: 0;
  }

  .button-box-small{
    display: none;
  }
/*Search style*/
#cards-container.search{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20vh;
}
.card-search{
    justify-content: center;
    height: 300px;
    width: 300px;
}

.card-search>p{
    font-size: 1.2rem;
}
.card-search>h2{
    font-size: 1.6rem;
}



